<div class="page-container" style="user-select: none">
  <h2>Tasks</h2>
  <mat-spinner style="margin: 0 auto" *ngIf="tasks.length < 1"></mat-spinner>
  <div *ngFor="let task of tasks" class="task-container">
    <huddle-task-card
      *ngIf="!task.completedOn"
      [task]="task"
    ></huddle-task-card>
  </div>
  <div *ngFor="let task of tasks" class="task-container">
    <huddle-task-card
      *ngIf="task.completedOn && task.repeatable"
      [task]="task"
    ></huddle-task-card>
  </div>
  <div *ngFor="let task of tasks" class="task-container">
    <huddle-task-card
      *ngIf="task.completedOn && !task.repeatable"
      [task]="task"
    ></huddle-task-card>
  </div>
</div>
