/.angular
/.browserslistrc
/.circleci
/.dockerignore
/.dockerignore.swp
/.editorconfig
/.git
/.gitignore
/.husky
/.prettierc.json
/.prettierignore
/LICENSE
/Makefile
/README.md
/angular.json
/bin
/dist
/docker
/docs
/nginx.conf
/node_modules
/package-lock.json
/tsconfig.app.json
/tsconfig.json
/tsconfig.spec.json
/tslint.json
LICENSE
