#contact-us
  width: 100%
  display: flex
  flex-direction: column
  user-select: none

.card-container
  width: 100%
  margin-bottom: 32px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center

.community-contact-card
  text-align: left
  max-width: 400px
  min-width: 400px
  margin: 16px
  @media only screen and (max-width: 600px)
    max-width: 300px
    min-width: 300px
    margin: 8px

.content
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center

.content-row
  width: 100%
  margin: 16px 0
  padding: 0
  display: flex
  flex-direction: row
  justify-content: space-between

.pronouns
  font-size: 16px
