---
version: 2.1

aliases:
  - &junit-results
    ./dist/junit
  - &deployment-context
    cloud.codehuddle.org

orbs:
  aws-cli: circleci/aws-cli@2.0
  aws-ecr: circleci/aws-ecr@7.3.0
  browser-tools: circleci/browser-tools@1.1.0
  node: circleci/node@4.7

executors:
  test-runner:
    docker:
      - image: cimg/node:14.15-browsers
    resource_class: medium

jobs:
  test:
    executor: test-runner
    steps:
      - browser-tools/install-chrome
      - checkout
      - run: git rebase origin/main
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: check format
          command: npm run ci:check-format
      - run:
          name: run tests
          command: npm run ci:test
      - store_test_results:
          path: *junit-results
      - store_artifacts:
          path: *junit-results

  publish:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - run: /home/circleci/project/.circleci/bin/publish

workflows:
  build:
    jobs:
      - test

      - aws-ecr/build-and-push-image:
          requires: [test]
          context: *deployment-context
          filters:
            branches:
              only: main
          repo: codehuddle
          dockerfile: ./docker/Dockerfile
          tag: 'app'
          workspace-root: ./project

      - publish:
          requires: [aws-ecr/build-and-push-image]
          context: *deployment-context
          filters:
            branches:
              only: main
