<div class="page-container">
  <div id="profile">
    <mat-card id="user-details-spinner" *ngIf="!loaded"><mat-spinner></mat-spinner></mat-card>
    <mat-card id="user-details" *ngIf="loaded">
      <span class="row">
        <img mat-card-avatar src="{{avatar}}" class="avatar">
      </span>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <span class="row">
            <mat-form-field id="form-first-name">
              <mat-label>first name</mat-label>
              <input type="text" matInput placeholder="first name" formControlName="first_name">
            </mat-form-field>
            <mat-form-field id="form-last-name">
              <mat-label>last name</mat-label>
              <input type="text" matInput placeholder="last name" formControlName="last_name">
            </mat-form-field>
          </span>
          <span class="row">
            <mat-form-field id="form-email">
              <mat-label>email address</mat-label>
              <input type="text" matInput formControlName="email">
            </mat-form-field>
          </span>
          <span class="row">
            <mat-form-field id="form-discord-handle">
              <mat-label>discord handle</mat-label>
              <input type="text" matInput placeholder="@tuxruleslinux" formControlName="discord_handle">
            </mat-form-field>
            <mat-form-field id="form-pronouns">
              <mat-label>pronouns</mat-label>
              <input type="text" matInput placeholder="be yourself!" formControlName="pronouns">
            </mat-form-field>
          </span>
          <span class="row">
            <mat-form-field id="form-website">
              <mat-label>website</mat-label>
              <input type="text" matInput placeholder="e.g. github.com/<me>" formControlName="website">
            </mat-form-field>
            <mat-checkbox type="text" formControlName="in_logan">in logan</mat-checkbox>
          </span>
          <span class="row" id="bio-row" >
            <mat-form-field *ngIf="editing || uploading">
              <mat-label>bio</mat-label>
              <textarea rows="7" matInput appearance="fill" placeholder="bio" formControlName="bio">
              </textarea>
            </mat-form-field>
            <h4>{{ form.enabled ? "bio preview" : "bio"}}</h4>
            <hr *ngIf="form.enabled">
            <div [innerHTML]="form.controls['bio'].value || '<em>nothing to see :c</em>'"></div>
            <hr>
          </span>
          <span class="row">
            <button
              mat-stroked-button
              *ngIf="!editing && !uploading"
              (click)="edit()"
              [disabled]="!loaded"
              >Edit Profile</button>
            <button
              mat-stroked-button
              *ngIf="editing || uploading"
              color="warn"
              (click)="discard()"
              [disabled]="uploading"
              >{{ form.dirty ? 'Discard Changes' : 'Cancel' }}</button>
            <button
              mat-stroked-button
              *ngIf="editing || uploading"
              type="submit"
              mat-button
              color="accent"
              [disabled]="form.pristine || form.invalid || uploading"
              >Save Changes</button>
          </span>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar *ngIf="!editing && !uploading" value="100" color="primary"></mat-progress-bar>
        <mat-progress-bar *ngIf="editing" value="0" color="primary"></mat-progress-bar>
        <mat-progress-bar *ngIf="uploading" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
