<mat-toolbar color="primary">
  <span id='route-indicator' *ngIf="loggedIn">
    <button mat-icon-button class="menu"
      matTooltip="main menu"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      (click)="toggleMenu()"
      >
      <mat-icon>menu</mat-icon>
    </button>
    <span id='route-indicator'>
      <span class='bold'>The Huddle</span>
      <span class='mobile-hide route-spacer'>&gt;</span>
      <span class='mobile-hide'>{{tabTitle}}</span>
    </span>
  </span>
  <span *ngIf="loggedIn">
    <button mat-icon-button id="profile"
      matTooltip="see / edit your profile"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      >
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button id="discord"
      matTooltip="goto :discord"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      >
      <mat-icon>discord</mat-icon>
    </button>
    <button mat-button id="logout-button"
      (click)="logout()"
      matTooltip="get outta here!"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      ><mat-icon>logout</mat-icon>
    </button>
  </span>
  <span *ngIf="!loggedIn" style='width:100%; text-align: center'>
    <a mat-button href='/contact'
      matTooltip="contact us"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      width='64px'
      ><mat-icon>email</mat-icon>
    </a>
    <span class='bold' style="margin:0 32px">The Huddle</span>
    <a mat-button href='/login'
      matTooltip="login / register"
      matTooltipClass="tooltip"
      matTooltipShowDelay="500"
      matTooltipHidDelay="200"
      width='64px'
      ><mat-icon>person</mat-icon></a>
  </span>
</mat-toolbar>
