<div class="page-container" id="event-detail">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading && (!event || !event.title)">
    <div class="italic">event not available :c</div><br>
    <button mat-raised-button
        [routerLink]="['/events']"
        color="warn"
        >BACK TO EVENTS</button>
  </div>
  <div *ngIf="!loading && event && event.title">
    <mat-card class="event-card">
      <mat-card-header id="header">
        <mat-card-title id="title">
          <h2 *ngIf="event && event.title">{{ historical ? event.label : 'Active Event' }}: <span class="italic">{{ event.title }}</span></h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content id="content" id="row">
        <div *ngIf="historical">This is a <span class="italic">historical event</span>. Submissions are no longer accepted<br><br></div>
        <div id="dates" class="row" *ngIf="event && event.start && event.deadline">
          <div id="start" class="date-row">
            <h3 class="date-title">Start Date</h3>
            <span innerHTML={{event.start}}></span>
          </div>
          <div id="stop" class="date-row">
            <h3 class="date-title">{{ historical ? 'End Date' : 'Deadline'}}</h3>
            <span innerHTML={{event.deadline}}></span>
          </div>
        </div>
        <div id="description" class="rendered-content" [innerHTML]="event.description"></div>
        <h2 *ngIf="event.rules && !historical">Rules</h2>
        <div id="rules" class="rendered-content" *ngIf="!historical" [innerHTML]="event.rules"></div>
        <h2 *ngIf="event.prizes && !historical" >Prizes</h2>
        <div id="rules" class="rendered-content" *ngIf="!historical" [innerHTML]="event.prizes"></div>
      </mat-card-content>
      <mat-card-actions id="action" class="row">
        <button mat-stroked-button
            [routerLink]="['/events']"
            >BACK TO EVENTS</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar *ngIf="event && event.title && !historical" value="100" color="primary"></mat-progress-bar>
        <mat-progress-bar *ngIf="!event || !event.title" value="0" color="accent"></mat-progress-bar>
        <mat-progress-bar *ngIf="event && event.title && historical" value="100" color="warn"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
