<app-navbar
    id='navbar'
    (toggleMenuEvent)="sidenav.toggle()"
    (closeMenuEvent)="sidenav.close()"
    (openMenuEvent)="sidenav.open()"
    ></app-navbar>
<mat-drawer-container id="app-container" autosize>
  <mat-drawer
    #sidenav
    class="app-sidenav"
    mode="over"
    >
    <app-navlinks
        (toggleMenuEvent)="sidenav.toggle()"
        (closeMenuEvent)="sidenav.close()"
        (openMenuEvent)="sidenav.open()"
        ></app-navlinks>
  </mat-drawer>
  <div id='app-content'>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
