/* ---------------------------------------------------------------------
   Manually Retrieved Theme / Global Variables
   */

@use '@angular/material' as mat
@include mat.core()

@import "@angular/material/theming"

$default-primary: mat-palette($mat-deep-purple, 700)
$default-accent:  mat-palette($mat-teal, 400)
$default-warn:    mat-palette($mat-red, 600)
$default-theme: mat-dark-theme($default-primary, $default-accent, $default-warn)
@include angular-material-theme($default-theme)

$light-primary: mat-palette($mat-deep-purple, 300)
$light-accent:  mat-palette($mat-teal, 300)
$light-warn:    mat-palette($mat-red, 600)
$light-theme: mat-dark-theme($light-primary, $light-accent, $light-warn)
@include angular-material-theme($default-theme)

$dark-primary: mat-palette($mat-deep-purple, 900)
$dark-accent:  mat-palette($mat-teal, 600)
$dark-warn:    mat-palette($mat-red, 800)
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn)
@include angular-material-theme($default-theme)

@include mat.core-theme($dark-theme)

@include mat.form-field-theme($light-theme)
@include mat.input-theme($light-theme)
@include mat.progress-spinner-theme($light-theme)

$primary:       mat.get-color-from-palette($default-primary, default)
$primary-light: mat.get-color-from-palette($light-primary, default)
$primary-dark:  mat.get-color-from-palette($dark-primary, default)

$accent:       mat.get-color-from-palette($default-accent, default)
$accent-light: mat.get-color-from-palette($light-accent, default)
$accent-dark:  mat.get-color-from-palette($dark-accent, default)

$warn:       mat.get-color-from-palette($default-warn, default)
$warn-light: mat.get-color-from-palette($light-warn, default)
$warn-dark:  mat.get-color-from-palette($dark-warn, default)

$warn: #F44336
$warn-light: #F44336
$warn-dark: #F44336

$background: #303030

$gray-1: #2a2a2a
$gray-2: #0d0d0d
$gray-3: #3d3d3d



/* ---------------------------------------------------------------------
   Scrollbar and Body/HTML Settings
   */

body, html
  background: $background
  overflow-x: hide
  overflow-y: hide
  margin: 0
  padding: 0
  height: 100%

  scrollbar-face-color: $gray-1
  scrollbar-base-color: $gray-1
  scrollbar-3dlight-color: $gray-1
  scrollbar-highlight-color: $gray-1
  scrollbar-track-color: $gray-2
  scrollbar-arrow-color: $gray-2
  scrollbar-shadow-color: $gray-1
  scrollbar-dark-shadow-color: $gray-1

::-webkit-scrollbar
 width: 8px
 height: 3px

::-webkit-scrollbar-button
  background-color: $gray-3

::-webkit-scrollbar-track
  background-color: $gray-1

::-webkit-scrollbar-track-piece
 background-color: $gray-2

::-webkit-scrollbar-thumb
 height: 50px
 background-color: $gray-3
 border-radius: 3px

::-webkit-scrollbar-corner
 background-color: $gray-1

::-webkit-resizer
 background-color: $gray-3

.italic
  font-style: italic

.bold
  font-weight: 600


/* ---------------------------------------------------------------------
   Global Style Settings
   */

.hyperlink
  cursor: pointer
  text-decoration: none
  color: $primary-light

  &:focus
    color: $primary-light

  &:visited
    color: $primary-light

  &:hover
    color: $primary-light

.tooltip
  background: $accent-light
  color: $gray-2 !important
  font-size: 16px

.page-container
  width: calc(90% - 128px)
  margin: 0 auto
  padding: 64px
  @media only screen and (max-width: 600px)
    width: calc(100% - 48px)
    padding: 24px !important

  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  text-align: center

.mobile-hide
  @media only screen and (max-width: 600px)
    display: none

.mobile-show
  @media only screen and (min-width: 601px)
    display: none
