/* ---------------------------------------------------------------------
   Manually Retrieved Theme / Global Variables
   */

$primary: #7B1FA2
$accent: #69F0AE
$warn: #F44336

$background: #303030

$gray-1: #2a2a2a
$gray-2: #0d0d0d
$gray-3: #3d3d3d



/* ---------------------------------------------------------------------
   Scrollbar and Body/HTML Settings
   */

body, html
  background: $background
  overflow-x: hide
  overflow-y: hide
  margin: 0
  padding: 0
  height: 100%

  scrollbar-face-color: $gray-1
  scrollbar-base-color: $gray-1
  scrollbar-3dlight-color: $gray-1
  scrollbar-highlight-color: $gray-1
  scrollbar-track-color: $gray-2
  scrollbar-arrow-color: $gray-2
  scrollbar-shadow-color: $gray-1
  scrollbar-dark-shadow-color: $gray-1

::-webkit-scrollbar
 width: 8px
 height: 3px

::-webkit-scrollbar-button
  background-color: $gray-3

::-webkit-scrollbar-track
  background-color: $gray-1

::-webkit-scrollbar-track-piece
 background-color: $gray-2

::-webkit-scrollbar-thumb
 height: 50px
 background-color: $gray-3
 border-radius: 3px

::-webkit-scrollbar-corner
 background-color: $gray-1

::-webkit-resizer
 background-color: $gray-3

.italic
  font-style: italic

.bold
  font-weight: 600


/* ---------------------------------------------------------------------
   Global Style Settings
   */

.hyperlink
  text-decoration: none
  color: $accent

  &:focus
    color: $accent

  &:visited
    color: $accent

  &:hover
    color: $accent

.tooltip
  background: $accent
  color: $gray-2 !important
  font-size: 16px


.page-container
  width: calc(90% - 128px)
  margin: 0 auto
  padding: 64px
  @media only screen and (max-width: 600px)
    width: calc(100% - 48px)
    padding: 24px !important

  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  text-align: center

.mobile-hide
  @media only screen and (max-width: 600px)
    display: none
